/* final version */
.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
}

.logo {
  width: 228px;
  height: 32px;
}

.logo_place_header {
  position: absolute;
  z-index: 1;
  top: 30px;
  left: 64px;
}

.header__title {
  margin: 0 auto 0 64px;
  width: 730px;
  line-height: 96px;
  font-size: 102px;
  font-weight: 600;
  z-index: 2;
}

.header__subtitle {
  position: absolute;
  width: 388px;
  bottom: 30px;
  left: 64px;
  line-height: 25px;
  font-size: 18px;
  margin: 0;
  font-weight: normal;
  z-index: 2;
}

.header__link {
  text-decoration: none;
  color: #2f80ed;
}

.header__main-illustration {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 765px;
  height: 608px;
  object-fit: cover;
  z-index: 1;
}

.header__square-pic {
  position: absolute;
  background-color: #2f80ed;
  color: #2f80ed;
  height: 568px;
  width: 568px;
  top: 64px;
  right: 0;
}

.description {
  display: flex;
}

.two-columns {
  display: flex;
  align-content: center;
  justify-content: space-between;
  min-width: 784px;
  width: 80%;
  margin: 100px auto 0;
}

.two-columns__brief {
  width: 175px;
  color: #2f80ed;
  margin: 0;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.two-columns__main-text {
  display: flex;
  flex-direction: column;
  width: 80%;
  gap: 30px;
}

.two-columns__paragraph {
  margin: 0;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.two-columns__span-accent {
  font-weight: bold;
}

.digits {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-title {
  text-align: center;
  margin: 100px auto 0;
  width: 60%;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
}

.section-subtitle {
  text-align: center;
  margin: 20px auto 0;
  width: 60%;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.table {
  display: flex;
  width: 1100px;
  margin-bottom: 100px;
  justify-content: space-between;
  flex-wrap: wrap;
}

.table__cell {
  display: flex;
  width: 250px;
  margin-top: 60px;
  flex-direction: column;
  gap: 20px;
}

.table__heading {
  margin: 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
}

.table__text {
  margin: 0;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.feynman {
  min-height: 890px;
  margin: 0;
  position: relative;
  background-image: url(../images/feynman.png);
  background-color: #f2f2f2;
  background-repeat: no-repeat;
  background-position: bottom 0 left 0;
}

.feynman__title {
  width: 648px;
  text-align: center;
  padding-top: 100px;
  margin: auto;
  line-height: 1.15;
  font-size: 120px;
  font-weight: 600;
}

.feynman__subtitle {
  margin: 70px auto 0;
  text-align: center;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}

.feynman__link {
  position: absolute;
  color: #2f80ed;
  top: 50%;
  right: 48px;
  text-decoration: none;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}

.kaufman {
  position: relative;
  margin: 0;
  background-color: #1f1f1f;
  overflow: hidden;
}

.section-title_theme_dark {
  position: relative;
  margin-top: 90px;
  color: white;
  z-index: 1;
}

.section-subtitle_theme_dark {
  color: white;
  margin-top: 20px;
  z-index: 1;
}

.table_theme_dark {
  margin: 0 auto;
  padding-bottom: 90px;
  z-index: 1;
}

.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-top: 80px;
  z-index: 1;
}

.kaufman__triangle {
  background-image: url(../images/kaufman-triangle.svg);
  position: absolute;
  background-size: cover;
  top: 0;
  height: 877px;
  width: 877px;
  right: -210px;
}

.footer {
  display: flex;
  background-color: #1f1f1f;
  min-height: 350px;
}

.footer__columns {
  display: flex;
  width: 90%;
  margin: 60px auto 40px;
  justify-content: space-between;
}

.footer__column_content_copyright {
  display: flex;
  flex-basis: 711px;
  flex-direction: column;
  width: 50%;
  justify-content: space-between;
}

.logo_place_footer {
  display: flex;
  margin: 0;
}

.footer__author {
  color: white;
  margin: 18px 0;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.footer__column_content_info {
  display: flex;
  flex-direction: column;
}

.footer__column_content_social {
  display: flex;
  flex-direction: column;
}

.footer__column-heading {
  display: flex;
  color: white;
  margin: 0;
  line-height: 30px;
  font-size: 18px;
  font-weight: 600;
}

.footer__column-links {
  display: flex;
  flex-direction: column;
  margin: 20px 0 16px;
}

.footer__social-icon {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}

.footer__column-link {
  text-decoration: none;
  color: white;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
}